{%  extends 'base.html' %}
{% block title %}Exchanger{% endblock %}
{% block body %}

    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Moneda Comprada</th>
            <th>Cantidad Comprada</th>
            <th>Unidad Pagada</th>
            <th>Unidad Pagada</th>
            <th>Cantidad Pagada</th>
        </tr>
        <tr>
            <td>11/7/2019</td>
            <td>Mi primera compra</td>
            <td>BTC</td>
            <td>1</td>
            <td>6500</td>
            <td>EUR</td>
            <td>6500</td>
        </tr>
    

    </table>

{% endblock %}